@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'New Tegomin', serif;
  margin: 0;
  background-color: darkolivegreen;
  color: azure;
}
